
.pageWrapper {
    min-height: 100vh;
    background-image: url("../image/cover.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    background-color: #000;
    color: #eee;
    width: 100%;
    background-size: cover;
    box-shadow:inset 0 0 200px 200px rgba(27, 5, 68, 0.767);
    
}

.logo {
   margin-top: 5rem !important;
   margin-bottom: 5rem !important;

 
  }
  
  .logo-text{
      font-size: 150px;
     
  }
  .logo-span{
    animation: spin-letters 10s linear ;
    color: red;
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}


.play-btn  {
    width: 100px;
    height: 100px;
    background: radial-gradient( rgba(243, 25, 25, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 100px auto;
    box-shadow: 0px 0px 25px 3px rgba(243, 25, 25, 0.8);
    cursor: pointer;
  }
  
  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #14a84d;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(83, 218, 21, 0.75);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(28, 105, 5, 0.75), 0px 0px 25px 10px rgba(9, 196, 55, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(28, 105, 5, 0.75), 0px 0px 25px 10px  rgba(9, 196, 55, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
.main-logo--text {
    font-size: 5.5rem !important;

}


.themeSand{
    min-height: 100vh;
    background:#000 url("../image/beach.jpg");
    z-index:0;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    background-color: #000;
    color: #eee;
    width: 100%;
    background-size: cover;
  }
  .themeSpace{
    min-height: 100vh;
    background:#000 url('https://s19.postimg.cc/53hmmyd9f/stars-3000x2000-pink-cosmos-hd-7164.jpg') ;
    z-index:0;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    background-color: #000;
    color: #eee;
    width: 100%;
    background-size: cover;
  }
  h2{
      font-size: 50px;
  }

.btn{
    text-align: center;
    display: inline-block;
    width: 220px;
    height: 60px;
    font-size: 28px;
    background-image: -webkit-linear-gradient(top, #dd0b1d, #14a84d); 
    background-image: -moz-linear-gradient(top, #dd0b1d, #14a84d);  
    background-image: -ms-linear-gradient(top, #dd0b1d, #14a84d);  
    background-image: -o-linear-gradient(top, #dd0b1d, #14a84d); 
   background-image: linear-gradient(to bottom, #dd0b1d, #14a84d);
   -webkit-border-radius: 28; 
    -moz-border-radius: 28; 
     border-radius: 28px;
    box-shadow: 6px 5px 24px #666666;
  
    cursor: pointer;
}
.btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}
.btn:hover {
  background-image: -webkit-linear-gradient(top, #96b998, #eb6e7e);  
  background-image: -moz-linear-gradient(top, #96b998, #eb6e7e);
    background-image: -ms-linear-gradient(top, #96b998, #eb6e7e);  
    background-image: -o-linear-gradient(top, #96b998, #eb6e7e); 
   background-image: linear-gradient(to bottom, #96b998, #eb6e7e);
	background-color: green !important;
}
.bg-custom {
    background: linear-gradient( rgb(27, 5, 68, 0.767), #021f3d, rgb(6, 46, 66), rgb(3, 27, 39), rgb(15, 25, 78));
  }

  a:not([href]):not([tabindex]) {
   
  color: #dd0b1d;
}

  .error-message {
      color: #cc0033;
      display: inline-block;
      font-size: 18px;
      line-height: 15px;
      margin: 5px 0 0;
    }
    
    .form-group .error-message {
      display: none;
    }

    input[type="text"] {
      border-radius: 5rem !important;
     
    }
    
    /* Error Styling */
    
    .error label {
      color: #cc0033;
    }
    
    .error input[type=text] {
      background-color: #fce4e4;
      border: 1px solid #cc0033;
      outline: none;
    }
    
    .error .error-message {
      display: inline-block;
    }
#theme{
    margin-top: 5rem!important; 
}
#level{
    margin-top: 5rem!important; 
}

#myCanvas{
 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:5rem;
    cursor: pointer;
}

#exit{
  text-align: left !important;
}
.score{
  padding-left: 8rem !important;
}
.table-dark{
  background-image: -webkit-linear-gradient(top, #dd0b1d, #14a84d); 
  background-image: -moz-linear-gradient(top, #dd0b1d, #14a84d);  
  background-image: -ms-linear-gradient(top, #dd0b1d, #14a84d);  
  background-image: -o-linear-gradient(top, #dd0b1d, #14a84d); 
 background-image: linear-gradient(to bottom, #dd0b1d, #14a84d);
 -webkit-border-radius: 28; 
  -moz-border-radius: 28; 
   border-radius: 28px;
  box-shadow: 6px 5px 24px #666666;

}
tbody{
  background-image: -webkit-linear-gradient(top, #96b998, #eb6e7e);  
  background-image: -moz-linear-gradient(top, #96b998, #eb6e7e);
    background-image: -ms-linear-gradient(top, #96b998, #eb6e7e);  
    background-image: -o-linear-gradient(top, #96b998, #eb6e7e); 
   background-image: linear-gradient(to bottom, #96b998, #eb6e7e);
}
td{
  width: 400px;
   padding-left: 8rem !important;
   font-style: 20px;
}
tr{
  display: block;
  font-size: 22px;
}

 

  @media only screen and (max-width : 1200px) {

  }
  
  @media only screen and (max-width : 979px) {
    .logo-text{
      font-size: 130px;
  }
  }
  
  @media only screen and (max-width : 767px) {
  
    .logo-text{
      font-size: 90px;
  }
  .main-logo--text {
    font-size: 4.5rem !important;

}

.fa-5x {
  font-size: 3em;
}
.about-button{
  display: block;
}

.form-container{
  margin-top: 6rem !important;

}
#theme{
  margin-top: 5rem!important; 
}
#level{
  margin-top: 5rem!important; 
}
h2{
  font-size: 45px;
}
#myCanvas{
  width: 100%;
  height: auto;
}

td {
  padding-left: 8rem !important;
}
  }
  
  @media only screen and (max-width : 480px) {
     
  }
  
  @media only screen and (max-width : 320px) {
      
  }